body{
   background-color: rgba(0, 0, 0, 0.902); 
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Times New Roman', Times, serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.text1{
    margin-top: 5rem;
    margin-left: 20rem;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, rgb(21, 236, 68), blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 8rem;
}

.text2{
    margin-top: 0.5rem;
    margin-left: 27rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(90deg, rgb(21, 236, 68), blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 8rem;
}
.text3{
    margin-top: 2rem;
    margin-left: 36rem;
    height: 2rem;
    width: 10rem;
    background-color: rgb(42, 12, 153);
    display: flex   ;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.text3 a:link, a:visited, a:active{
    color: white;
}
